body{
    background-color: rgba(247, 239, 239, 0.938);
}
button{
    background-image: linear-gradient(aqua,rgb(67, 168, 236));
    width:80px;
    height:35px;
    border:0.5px solid black;
    border-radius: 10px;
}
input{
    margin-top: 0;
    padding-top: 0;
    width:500px;
    height:30px;
    border:0.5px solid black;
    border-radius: 10px;
}
#new{
    width:500px;
    height:500px;
    display:inline;
}